@charset "UTF-8";
.content{
  display:flex;
  width:90%;
  margin:0 auto;
  margin-bottom:50px;
}
.pfcontent{
  margin-top:20px;
  width:33%;
}
.pfcontent h1{
  font-size:30px;
  margin-bottom:30px;
  font-family:'Quicksand',sans-serif;
  color:#444;
}
.pfcontent p{
  margin-top:20px;
  font-family: 'Noto Sans JP', sans-serif;
}
.comment p{
  line-height:2em;
}
/* 追加 */
.bar-wrapper{
  width:100%;
  padding-top:0.8vh;
  padding-left:0.8vw;
}
.bar-item{
  height:5px;
  width:50px;
  background-color:#fff;
  border-radius:25px;
  margin-bottom:10px;
  transition:all 0.5s ease;
}
.show-animate .bar1{
  transform:translateY(15px) rotate(-45deg);
}
.show-animate .bar2{
  opacity:0;
  transform:translateY(50%);
}
.show-animate .bar3{
  transform:translateY(-15px) rotate(45deg);
}
/* レスポンシブ */
@media screen and (max-width:767px){
  .content{
    display:block;
  }
  .pfcontent{
    width:100%;
    margin-top:20px;
    font-size:3em;
  }
  .pfcontent p{
    font-size:15px;
  }
}
